.text-center {
  text-align: center;
}

/* Nav */

.navContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  
} 

.navLink {
  flex-basis: calc(100% / 3 - 10px);
  color: lemonchiffon;
  text-decoration: none;
  border-radius: 20px;
  border: 4px solid black;
  background: #11810D;
  background: -webkit-linear-gradient(top left, #11810D, #2E44CE);
  background: -moz-linear-gradient(top left, #11810D, #2E44CE);
  background: linear-gradient(to bottom right, #11810D, #2E44CE);;
}


.active-link {
  color: aqua;
}

.navContainer:hover {
  cursor: pointer;
}

 

/* containers */

.container {
  display: flex;
}

.form-container {
  flex-basis: calc(100% / 3 - 8px);
  border: 4px solid black;
  display: block;
}

.drink-container {
  flex-basis: calc(100% / 2 -10px);
  margin: 5px;
  flex-direction: column;
}



/* colors */

body {
  background-color: rgb(0, 0, 0);
  background-image: url(http://www.zingerbugimages.com/backgrounds/tan_parchment_paper_wallpaper_texture_seamless.jpg);
  background-position: top left;
  background-repeat: repeat;
  background-attachment: fixed;
}

.background-everything {
  background-color: rgb(0, 0, 0);
  background-image: url(http://www.zingerbugimages.com/backgrounds/tan_parchment_paper_wallpaper_texture_seamless.jpg);
  background-position: top left;
  background-repeat: repeat;
  background-attachment: fixed;
}

button {
  background-color: cadetblue;
  border-radius: 20px;
  border: 1px solid black;
  color: lemonchiffon;
}

/* images */

.bk-img {
  position: relative;
  height: 750px;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: center;
}
.bk-img::before {
  content: "";
  background-image: url("/Users/michaelivers/Desktop/cocktails/src/images/bartender.png");
  background-size: contain;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 60%;
}

.img-gif {
  width: 300px;
}

.img-drink {
  width: 350px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
