.App {
  text-align: center;
}

.active-link {
  color: blue;
}

.form-container {
  display: block;
  
}

.text-center {
  text-align: center;
}

.background-main {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}
